@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #4169E1;
  --navy: #1e3a8a;
}

.bg-primary-blue {
  background-color: var(--primary-blue);
}

.text-primary-blue {
  color: var(--primary-blue);
}

.bg-navy {
  background-color: var(--navy);
}

.text-navy {
  color: var(--navy);
}

.border-primary-blue {
  border-color: var(--primary-blue);
}

.ring-primary-blue\/50 {
  --tw-ring-color: rgb(65 105 225 / 0.5);
}

.hover\:bg-primary-blue\/80:hover {
  background-color: rgb(65 105 225 / 0.8);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
